<ion-view title="" hide-back-button="true" hide-nav-bar="true">
	<ion-content padding="false" class="manual-ios-statusbar-padding">
		
		<div class="header" style="background-color:#2196F3;">
			<h2 class="logo">Project Alexandria</h2>
		</div>
		
		<div class="book-search-container" ng-class="{'slide-up':data.searchQuery.length > 0,'slide-down':data.searchQuery.length == 0}">
		
			<!-- Search Box -->
			<label class="item item-input book-search-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input class="txtSearch" type="search" placeholder="Search..." ng-model="data.searchQuery" ng-model-options="data.searchOptions" autofocus>
			</label>
			
			<!-- Results -->
			<ion-list class="book-search-results">				
				<!-- Search Mode -->
				<div class="button-bar">
				  <a class="button" ng-class="{'button-positive': data.searchMode == 'title' }" ng-click="setSearchMode('title');">Title</a>
				  <a class="button" ng-class="{'button-positive': data.searchMode == 'author'}" ng-click="setSearchMode('author');">Author</a>
				</div>
				
				<!-- Search Results -->
				<ion-item ng-repeat="book in books" class="item item-avatar" ui-sref="bookDetails({bookID: book.id})">
					<img ng-src="{{book.imageURL}}">
					<h2>{{book.title}}</h2>
					<p>{{book.author}}</p>
				</ion-item>
				
				<!-- Message if no results -->
				<ion-item ng-if="books.length == 0">No results found</ion-item>
			</ion-list>
			
		<div>
  
	</ion-content>
</ion-view>