<ion-view title="Project Alexandria" hide-back-button="true">
	<ion-content padding="false">
		
		<div class="book-search-container" ng-class="{'slide-up':data.searchQuery.length > 0,'slide-down':data.searchQuery.length == 0}">
		
			<!-- Search Box -->
			<label class="item item-input book-search-input">
				<i class="icon ion-search placeholder-icon"></i>
				<input class="txtSearch" type="search" placeholder="Search..." ng-model="data.searchQuery" ng-model-options="data.searchOptions" autofocus>
			</label>
			
			<!-- Results -->
			<ion-list class="book-search-results">				
				<!-- Search Mode -->
				<div class="button-bar">
				  <a class="button" ng-class="{'button-positive': data.searchMode == 'title' }" ng-click="setSearchMode('title');">Title</a>
				  <a class="button" ng-class="{'button-positive': data.searchMode == 'author'}" ng-click="setSearchMode('author');">Author</a>
				</div>
				
				<!-- Search Results -->
				<!-- TODO: If adding images, add an "item-avatar" class to the ion-item and uncomment the <img> -->
				<ion-item ng-repeat="book in books" class="item item-icon-right" ui-sref="bookDetails({bookID: book.id})">
					<!--<img ng-src="{{book.imageURL}}"> -->
					<h2>{{book.title}}</h2>
					<p>{{book.author}}</p>
					<i class="icon ion-ios-arrow-forward"></i>
				</ion-item>
				
				<!-- Message if no results -->
				<ion-item ng-if="books.length == 0">No results found</ion-item>
			</ion-list>
			
		<div>
  
	</ion-content>
</ion-view>